milestone*/src/lex.yy.c
milestone*/src/parser.tab.h
milestone*/src/parser.tab.c
milestone*/src/parser.output
milestone*/src/milestone2
milestone*/src/*.dot
milestone*/src/*.
milestone*/src/symbol_table1.h
*.pdf