milestone*/src/lex.yy.c
milestone*/src/parser.tab.h
milestone*/src/parser.tab.c
milestone*/src/parser.output
milestone*/src/milestone*
milestone*/src/*.dot
milestone*/src/*.pdf
milestone*/src/*.csv
milestone*/src/*.txt
milestone*/tests/*/*